{
    "id": "11642",
    "project": "keystone",
    "github_link": "https://github.com/keystone-engine/keystone.git",
    "bug_commit_id": "c4de98f71f05f356817f5e91fee0d509c7b0b440", 
    "buggy_file": "llvm/lib/Target/Sparc/MCTargetDesc/SparcAsmBackend.cpp",
    "sanitizer": "address",
    "binary": "fuzz_asm_sparc64be"
}