[submodule "f1x"]
	path = f1x
	url = git@github.com:mechtaev/f1x.git
[submodule "IntPTI"]
	path = IntPTI
	url = git@github.com:domainexpert/IntPTI.git
[submodule "aflgo"]
	path = aflgo
	url = https://github.com/gaoxiang9430/aflgo.git
