{
    "id": "15613",
    "project": "icu",
    "github_link": "https://github.com/unicode-org/icu.git",
    "bug_commit_id": "1e65be7d1ad3f6adc224cf8bbcf3381236640f12", 
    "buggy_file": "icu4c/source/i18n/collationiterator.cpp",
    "sanitizer": "address",
    "binary": "collator_rulebased_fuzzer"
}